@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: #919191;
    margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul li {
    cursor: pointer;
}

header {
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    font-size: 21.5px;
    color: white;
}

@keyframes girar {
    from, to {
        border-top: 5px solid black;
    }
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading {
    width: 6em;
    height: 6em;
    border-radius: 50% 50%;
    border: 0.3em solid rgb(213, 214, 222);
}

.girar {
    animation: girar 0.6s ease-in 0s 5 reverse;
}

.carregando {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45em;
}

.contatos {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 12em;
    width: 20em;
    gap: 1em;
    border-radius: 0.6em;
    position: fixed;
    left: 50%;
    top: 50%;  
    transform: translate(-50%, -50%);
    border-radius: 1vh;
}

.contatos h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
}

#perfis button img {
    width: 4em;
    height: 4em;
}

#perfis button {
    border-radius: 50% 50%;
    cursor: pointer;
    border: 1px solid whitesmoke;
}

#perfis {
    display: flex;
    flex-direction: row;
    gap: 1.3em;
}

.link-selecionado {
    background-color: #545454;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 5px;
}

@keyframes revelar {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animacao-revelar {
    animation: revelar 2s 1;
}

.ocultar {
    display: none;
}
